[Unit]
Description=DAQ poll service

[Service]
ExecStart=/usr/bin/node /opt/daq/daq.js
Restart=on-failure
RestartSec=120
KillMode=process
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-daq
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
Alias=daqd.service